<form method="post" action="/users/signin">
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username" id="username">
  </div>
  <div>
    <label for="username">Password:</label>
    <input type="password" name="password" id="password">
  </div>
  <button type="submit">Sign In</button>
</form>
